* {
  margin: 0;
  padding: 0;
  outline: none;
}

*::selection {
  background-color: transparent
}

#fm-widget-root {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #F6F7EB;
  color: #3D5A6C;
  font-family: sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  min-width: 300px;
}

h1 {
  font-size: 1em;
  letter-spacing: 2px;
  margin: 20px auto;
  font-family: 'Merienda', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}

div {
  border: 6px solid #3EC169;
  border-radius: 50%;
  background-color: #FF1654;
  color: #F6F7EB
}

.panel {
  position: relative;
  cursor: pointer;
  align-self: center;
  z-index: 2;
  width: 20vw;
  height: 20vw;
  max-width: 384px;
  max-height: 384px;
  min-width: 115px;
  min-height: 115px;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.handle {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  transition: .3s linear;
}

.panel:hover .handle {
  opacity: 1;
}

.interface {
  display: flex;
  justify-content: center;
}

.settings {
  position: relative;
  text-align: center;
  width: 15vw;
  height: 15vw;
  margin: 0 15px;
  max-width: 288px;
  max-height: 288px;
  /* min-height: 120px;
  min-width: 120px; */
}

.settings h2 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .7em;
  font-weight: 400;
}

.value {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
}

.value i {
  margin: 0 15px;
  cursor: pointer
}


@media(max-height: 600px) and (orientation:landscape) {
  .app .panel {
    width: 40vh;
    height: 40vh;
  }

  .app .settings {
    width: 30vh;
    height: 30vh;
  }

  body .app {
    font-size: 30px
  }

  .value i {
    margin: 0 2px;
  }

  .settings h2,
  .panel .handle {
    bottom: 10%;
  }
}

@media(max-height: 470px) and (orientation:landscape) {

  body .app {
    font-size: 22px
  }

  h1 {
    font-size: .8em;
  }

  .app .panel {
    width: 35vh;
    height: 35vh;
  }
}

@media(max-width: 1365px) {
  .panel {
    width: 265px;
    height: 265px;
  }

  .settings {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 700px) {
  .settings h2 {
    font-size: 0.5em;
  }

  .value i {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .settings {
    width: 40vw;
    height: 40vw;
  }

  .panel {
    width: 55vw;
    height: 55vw;
  }

  h1 {
    font-size: .8em;
  }
}

@media (max-width:400px) {

  .settings h2,
  .panel .handle {
    bottom: 10%;
  }
}

@media (max-width: 379px) {
  .value i {
    margin: 0 2px;
  }

  body {
    font-size: 30px;
  }
}